.card-image {
    padding: 15px;
}

.card-image img {
    width: 190px;
    height: 190px;
    margin: 0 auto;
}

.card .card-action {
    text-align: center;
}

.btn-custom {
    background: none;
    color: #4385f4;
    box-shadow: none;
    line-height: 18px;
    height: auto;
}