<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <blockquote>
                Howdy! To enter admin panel please login!
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3 offset-m3">
            <div class="card">
                <div class="card-image">
                    <img src="assets/Google__G__Logo.svg" alt="" srcset="">
                </div>
                <div class="card-action">
                    <button (click)="googleLogin()" class="btn btn-custom"  *ngIf="mainAuthService.agent !== 'google'">Login with Google</button>
                    <button (click)="logOut()" class="btn btn-custom" *ngIf="mainAuthService.agent === 'google'">Logout</button>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="assets/facebook.svg" alt="" srcset="">
                </div>
                <div class="card-action">
                    <button type="button" class="btn btn-custom" (click)="facebookLogin();" *ngIf="mainAuthService.agent !== 'facebook'">Login with Facebook</button>
                    <button (click)="logOut()" class="btn btn-custom" *ngIf="mainAuthService.agent === 'facebook'">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>