<div class="had-container">
    <div class="row">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="brand-logo">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#ffffff" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" />
                        </svg>
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
                      </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>